.container {
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.item {
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
    background-color: aquamarine;
    border: 1px solid pink;
}

.hover {
    background-color: brown;
}

.btn {
    margin-left: 50%;
}